---
import { Aside } from '@astrojs/starlight/components';
---

<Aside title="Command Arguments Guidelines">
  <ul>
    <li>Arguments in angle brackets <code>&lt;&gt;</code> are required inputs.</li>
    <li>Arguments in parenthesis <code>()</code> are optional.</li>
    <li>Arguments in square brackets <code>[]</code> indicate choices - one of the listed options must be used.</li>
    <li>Arguments with nothing around them have to be entered as written.</li>
  </ul>
</Aside>